{% extends "base.html" %}

{% block content %}
    <h2>Artist Details</h2>
    <h3>{{ artist_name }}</h3>
    
    <h4>Songs by {{ artist_name }}</h4>
    <ul class="song-list">
        {% for song in artist_songs %}
        <li class="song-item">
            <b>{{ song.title }}</b> - 
            <a href="{{ url_for('album_details', album_name=song.album) }}">{{ song.album }}</a>
            (<a href="{{ url_for('genre_details', genre_name=song.genre) }}">{{ song.genre }}</a>)
        </li>
        {% endfor %}
    </ul>
    
    <h4>Albums by {{ artist_name }}</h4>
    <ul class="album-list">
        {% for album in artist_albums %}
            <li class="album-item">
                <a href="{{ url_for('album_details', album_name=album) }}">{{ album }}</a>
            </li>
        {% endfor %}
    </ul>
    
    <a href="/">Back to Song List</a>
{% endblock %}
