{% extends "base.html" %}

{% block content %}
    <h2>Genre Details</h2>
    <h3>{{ genre_name }}</h3>
    
    <h4>Songs in {{ genre_name }}</h4>
    <ul class="song-list">
        {% for song in genre_songs %}
            <li class="song-item">
                <a href="{{ url_for('song_details', song_id=loop.index0) }}">{{ song.title }}</a>
                by <a href="{{ url_for('artist_details', artist_name=song.artist) }}">{{ song.artist }}</a>
            </li>
        {% endfor %}
    </ul>
    
    <a href="/">Back to Song List</a>
{% endblock %}
