{% extends "base.html" %} {% block content %}
<h2>Song Details</h2>
<div class="song-details">
    <h3>{{ song.title }} by {{ song.artist }}</h3>
    <p><strong>Title:</strong> {{ song.title }}</p>
    <p>
        <strong>Artist:</strong>
        <a href="{{ url_for('artist_details', artist_name=song.artist) }}">{{song.artist}}</a>
    </p>
    <p>
        <strong>Album:</strong>
        <a href="{{ url_for('album_details', album_name=song.album) }}">{{song.album}}</a>
    </p>
    <p>
        <strong>Genre:</strong>
        <a href="{{ url_for('genre_details', genre_name=song.genre) }}">{{song.genre}}</a>
    </p>
    <br />
    <a href="/">Back to Song List</a>
</div>
{% endblock %}
